<h1><%= @recipe.name %></h1>

<h2>Nutrition</h2>

  <% headers = ["Macronutrients"] %>
  <% data = collect_recipe_nutrients_for_table_display(@recipe, 'macronutrient') %>
  <%= render(partial: 'application/table_view_generator/table_generator',
  locals: {headers: headers, data: data}) %>

  <% headers = ["Vitamins"] %>
  <% data = collect_recipe_nutrients_for_table_display(@recipe, 'vitamin') %>
  <%= render(partial: 'application/table_view_generator/table_generator',
  locals: {headers: headers, data: data}) %>

  <% headers = ["Minerals"] %>
  <% data = collect_recipe_nutrients_for_table_display(@recipe, 'mineral') %>
  <%= render(partial: 'application/table_view_generator/table_generator',
  locals: {headers: headers, data: data}) %>

<h2>What You'll Need</h2>

  <% headers = ["Amount", "Unit", "Ingredients"] %>
  <% data = collect_recipe_ingredients_for_table_display(@recipe) %>
  <%= render(partial: 'application/table_view_generator/table_generator',
  locals: {headers: headers, data: data}) %>
