<% case datum[0] %>
<% when "raw multiple start" %>
  <td><%= datum[1] %>
<% when "raw multiple continue" %>
  <br><%= datum[1] %>
<% when "raw multiple end" %>
  <br><%= datum[1] %></td>
<% when "raw single" %>
  <td><%= datum[1] %></td>
<% when "link multiple start" %>
  <td><%= link_to(datum[1], eval(datum[2]), method: datum[3]) %>
<% when "link multiple end" %>
  <br><%= link_to(datum[1], eval(datum[2]), method: datum[3]) %></td>
<% when "link single" %>
  <td><%= link_to(datum[1], eval(datum[2]), method: datum[3]) %></td>
<% when "new_row" %>
  </tr><tr>
<% end %>
