<!DOCTYPE html>
<html>
  <head>
    <title>NutritionTracker</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <datalist id="ingredients_autocomplete">
      <% Ingredient.all.each do |ingredient| %>
        <option value="<%=ingredient.name%>">
      <% end %>
    </datalist>

    <nav>
      <%= link_to("Recipes", "/recipes/all", method: :get) %>
      <% if current_user %>
        <%= link_to("Stats", "/#{current_user.slug}/progress", method: :get) %>
      <% else %>
        <%= link_to("Log In", "/log-in", method: :get) %>
      <% end %>
    </nav>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
